.search-input {
  margin: auto;
}

.all-names-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row;  */
}

.name-container {
  /* max-width: 10%; */
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.male {
  background-color: rgb(14, 168, 240);
}

.female {
  background-color: rgb(248, 10, 177);
}
